header {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
}

.h2 span {
    font-family: 'GOTHAMROUNDED-BOOK';
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pinkPoint {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    background-color: #FF40B1;
    margin: 0 3vw 0 0;
}

.top {
    background-color: #C4EBF7;
    width: 100vw;
    padding: 3.5% 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top .h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
}

.section1 {
    width: 100%;
    height: 143px;
    position: relative;
}

.section1 .wave {
    background-image: url(../img/sec5wave.png);
    width: 100%;
    height: 143px;
    position: absolute;
    top: 0;
    left: 0;
    animation: wave 3s linear infinite;
}

.section2 .h1,
.section2 .h2 {
    font-size: 2vw;
}

.section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 11%;
}

.section2 .main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 0 0;
}

.section2 .main .h1,
.section2 .main .h2 {
    text-align: center;
}

.section2 .main img {
    width: 41.5%;
    margin-top: 8.8%;
}

.section2 .box {
    border-top: 0.22vw solid #FF40B1;
    width: 100%;
    padding: 0 0 0 6vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3.6%;
}

.section2 .box:nth-of-type(2n+1) {
    padding: 0;
}

.section2 .box:nth-of-type(2n+1) .text {
    width: 77%;
    margin-left: 8vw;

}

.section2 .box:nth-of-type(2n+1) .img {
    width: 60%;
    margin: 4.8vw 0 0 3vw;
}

.section2 .box:nth-of-type(2n+1) .p {
    width: 100%;
}

.section2 .box .text {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 17% 0 0;
}

.section2 .p {
    margin-top: 11%;
    width: 100%;
}


.section2 .box .img {
    width: 55%;
    margin: 1.8vw 0 0;
}

.section2 .box .img img {
    max-width: 100%;
}

.section2 .box .text div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFF00;
    text-align: center;
    padding: 5.5vw 0 7vw;
    margin-top: 5vw;
}

.section3 .start {
    width: 70%;
    background-color: white;
    border-radius: 7vw;
    padding: 6.8% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4.2vw;
}

.section3 .start p {
    font-size: 2.1vw;
    color: black;
    font-family: 'Gotham-Bold';
    margin: 0 0 6%;
    letter-spacing: 0.2vw;
}

.whiteBtn span {
    font-size: 1.5vw;
}

.whiteBtn {
    height: 5vw;
    width: 23vw;
}


@media all and (max-width:768px) {
    .section2 .box .img {
        margin: 4.8vw 0 3vw;
    }

    .section2 .box .text {
        padding: 20% 0 10%;
    }

    .top {
        padding: 7.5% 0 5%;
    }
}

@media all and (max-width:425px) {
    .section2 .box {
        padding: 4.8vw 0 0;
    }

    .section2 .box:nth-of-type(2n+1) {
        padding: 4.8vw 0 0;
    }

    .section2 {
        padding: 0 5%;
    }

    .section2 .h1,
    .section2 .h2 {
        font-size: 3.4vw;
    }

    .section1 .wave {
        background-size: cover;
        height: 52px;
        animation: wave 5s linear infinite;
    }

    .section1 {
        height: 52px;
    }

    .section2 .box .img {
        width: 49%;
        margin: 4.8vw 0 14vw;
    }

    .section2 .box:nth-of-type(2n+1) .img {
        width: 60%;
        margin: 4.8vw 0 0;
    }

    .section2 .box .text {
        padding: 5% 0 0;
    }

    .section2 .box:nth-of-type(2n+1) .text {
        width: 96%;
        margin-left: 3vw;
    }

    .section3 {
        margin-top: 15vw;
    }


}

@media all and (max-width:320px) {

    .section2 {
        padding: 0 8%;
    }
}
