
#h21:after,
#h12:after,
#h13:after,
#h22:after,
#h23:after,
#p1:after,
#p2:after,
#p3:after,
#p4:after {
    content: "";
    transition: all 1s;
}


#h21:after {
    animation: h21 7s ease-in-out infinite;
}

#h12:after {
    animation: h12 18s ease-in-out infinite;
}

#h22:after {
    animation: h22 18s ease-in-out infinite;
}

#h23:after {
    animation: h23 18s ease-in-out infinite;
}

#p1:after {
    animation: p1 18s ease-in-out infinite;
}

#p2:after {
    animation: p2 18s ease-in-out infinite;
}

#p3:after {
    animation: p3 18s ease-in-out infinite;
}

#p4:after {
    animation: p4 18s ease-in-out infinite;
}


@keyframes h21 {
    0% {
        content: "A trendy new bar";
    }

    50% {
        content: "A CONTINENT WIDE COFFEE COMPANY";
    }

    80% {
        content: "An independent health shop";
    }

    100% {
        content: "A trendy new bar";
    }
}



@keyframes h12 {
    0% {
        content: "With a buzz";
    }

    20% {
        content: "With hundreds";
    }

    40% {
        content: "With lots";
    }
    60% {
        content: "With lots of gym";
    }
    80% {
        content: "With people ";
    }

    100% {
        content: "With a buzz";
    }
}

@keyframes h22 {
    0% {
        content: "Of happy people";
    }

    20% {
        content: "Of coffee lovers";
    }

    40% {
        content: "Of loyal customers";
    }
     60% {
        content: "bunny customers";
    }
     80% {
        content: "Coming from all over";
    }

    100% {
        content: "Of happy people";
    }
}

@keyframes h23 {
    0% {
        content: "Unsure customers";
    }

    20% {
        content: "Coffee customers";
    }

    40% {
        content: "Hesitant customers";
    }
    60% {
        content: "Confused customers";
    }
    80% {
        content: "Unaware customers";
    }

    100% {
        content: "Unsure customers";
    }
}

@keyframes p1 {
    0% {
        content: "But they don’t understand the identity of your bar as it gets lost when your alcoholic sponsors insist on having their branded logo shown in and around the bar.";
    }

    20% {
        content: "But they don’t have the necessary means to connect with your brand, employees and the purpose of your brand on a deeper level in the short amount of time that they’re there.";
    }

    40% {
        content: "But they are often unsure with which product is right for them to use and you and your employees, who know your brand aren’t always there to help.";
    }
     60% {
        content: "But they buy your products in bigger stores that feature your brand and are often confused as to which product to buy that’s right for their body and what they want to do for their body.";
    }
     80% {
        content: "But they aren’t getting the full story about you, your restaurant, your employees and the story behind your food. ";
    }

    100% {
        content: "But they don’t understand the identity of your bar as it gets lost when your alcoholic sponsors insist on having their branded logo shown in and around the bar.";
    }
}

@keyframes p2 {
    0% {
        content: "To visit your website and scan their branded glass to ignite information about the drink; what it’s made up of, the brand of alcohol, cost, who prepared it and what their favorite drink is.";
    }

    20% {
        content: "To improve the connection between your brand and consumers on a more personal level? Quite simple, you use the marvellous tech of augmented reality with Foxtrot to create an easy to use way to show curated content.";
    }

    40% {
        content: "To give them more knowledge to purchase the right items without you physically being there? Easy, you use the power of augmented reality with Foxtrot to create an easy to use step by step handbook.";
    }
     60% {
        content: "To help your customer find the right product to suit their needs without physically being there? Simple, you use the potential of augmented reality with Foxtrot to create an easy to use product guide.";
    }
     80% {
        content: "To shed more light on your cooking style, the stories behind each meal and your employees with your customers? It’s clear, you use the capabilities of augmented reality with Foxtrot to create an easy to use guide.";
    }

    100% {
        content: "To visit your website and scan their branded glass to ignite information about the drink; what it’s made up of, the brand of alcohol, cost, who prepared it and what their favorite drink is.";
    }
}

@keyframes p3 {
    0% {
        content: "To visit your website and scan their branded glass to ignite information about the drink; what it’s made up of, the brand of alcohol, cost, who prepared it and what their favorite drink is.";
    }

    20% {
        content: "To visit your website and scan the menu or coffee cup to ignite content that educates them about the coffee they’re drinking, what your brand stands for and what the barista’s favorite coffee is.";
    }

    40% {
        content: "To visit your website and scan any product to bring up information such as who should use that product, what it’s made of and workout exercises you should do to enhance the impact of the product.";
    }
    60% {
        content: "To visit your website and scan any product to ignite information about who should use this product, how to use it and what workouts they should do to get the maximum out of it. ";
    }
    80% {
        content: "To visit your website and scan their meal to find out how the dish was cooked, who cooked it, which drink goes best with it and the backstory of how your restaurant started.";
    }

    100% {
        content: "To visit your website and scan their branded glass to ignite information about the drink; what it’s made up of, the brand of alcohol, cost, who prepared it and what their favorite drink is.";
    }
}

@keyframes p4 {
    0% {
        content: "Now you can build your own augmented reality experience in a couple of easy steps for just a few dollars a month. Imagine the unlimited possibilities once you have the Foxtrot button on your website.";
    }

    20% {
        content: "Now you can produce an engaging augmented reality experience in a few easy steps for just a few dollars a month. Imagine what you could create once you have the Foxtrot button on your website.";
    }

    40% {
        content: "Now you can construct a unique augmented reality experience in just a couple of easy steps for a few dollars a month. Imagine the reach of your brand once you have the Foxtrot button on your website.";
    }
     60% {
        content: "Now you can create a special augmented reality experience in a few clicks for just a few dollars a month. Imagine the possibilities once you have the Foxtrot button on your website.";
    }
     80% {
        content: "Now you can make an augmented reality experience in your restaurant in a few clicks for just a few dollars a month. Imagine the possibilities once you have the Foxtrot button on your website.";
    }

    100% {
        content: "Now you can build your own augmented reality experience in a couple of easy steps for just a few dollars a month. Imagine the unlimited possibilities once you have the Foxtrot button on your website.";
    }
}
